# Byte-compiled / optimized / DLL files
__pycache__/


# Mac/OSX
.DS_Store


# Distribution / packaging
.ipynb_checkpoints

# specific to IntelliJ IDEA (due to using Pycharm IDE)
.idea/


# Environments
.env
.venv
env/
venv/


# pyenv
.python-version
